--- release/freedesktop/blender.desktop.orig	2019-11-30 17:13:18 UTC
+++ release/freedesktop/blender.desktop
@@ -1,5 +1,5 @@
 [Desktop Entry]
-Name=Blender
+Name=upbge
 GenericName=3D modeler
 GenericName[ar]=3D المنمذج ثلاثي الأبعاد
 GenericName[ca]=Modelador 3D
@@ -79,8 +79,8 @@ Comment[zh_HK]=3D 模型、動畫、算圖和後製
 Comment[zh_CN]=3D 建模、动画、渲染和后期制作
 Comment[zh_TW]=3D 模型、動畫、算圖和後製
 Keywords=3d;cg;modeling;animation;painting;sculpting;texturing;video editing;video tracking;rendering;render engine;cycles;game engine;python;
-Exec=blender %f
-Icon=blender
+Exec=upbge %f
+Icon=upbge
 Terminal=false
 Type=Application
 Categories=Graphics;3DGraphics;
