--- ./release/freedesktop/blender.desktop.orig	2013-01-01 21:00:15.888175742 +1030
+++ ./release/freedesktop/blender.desktop	2013-01-01 21:00:20.163174939 +1030
@@ -1,5 +1,5 @@
 [Desktop Entry]
-Name=Blender
+Name=Blender-sambler
 GenericName=3D modeller
 GenericName[es]=modelador 3D
 GenericName[de]=3D-Modellierer
@@ -8,8 +8,8 @@
 Comment=3D modeling, animation, rendering and post-production
 Comment[es]=modelado 3D, animación, renderizado y post-producción
 Comment[de]=3D-Modellierung, Animation, Rendering und Nachbearbeitung
-Exec=blender
-Icon=blender
+Exec=blender-sambler
+Icon=blender-sambler
 Terminal=false
 Type=Application
 Categories=Graphics;3DGraphics;
