--- ./release/freedesktop/blender.desktop.orig	2013-01-01 21:00:15 UTC
+++ ./release/freedesktop/blender.desktop
@@ -1,5 +1,5 @@
 [Desktop Entry]
-Name=Blender
+Name=Blender-%%VERS_TAG%%
 GenericName=3D modeller
 GenericName[es]=modelador 3D
 GenericName[de]=3D Modellierer
@@ -7,8 +7,8 @@
 GenericName[ru]=Редактор 3D-моделей
 Comment=3D modeling, animation, rendering and post-production
 Comment[es]=modelado 3D, animación, renderizado y post-producción
-Exec=blender
-Icon=blender
+Exec=blender-%%VERS_TAG%%
+Icon=blender-%%VERS_TAG%%
 Terminal=false
 Type=Application
 Categories=Graphics;3DGraphics;
